.user-detail-container{
    flex-direction: row;
    display: flex;
}

.avatar-user{
    width: 200;
    height: 200px;
}

.user-information-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
    text-align: left;
    background-color: rgb(95, 95, 255);
}

.information{
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.btn-container{
    background-color: rgb(95, 95, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-birthday {
    display: flex;
    flex-direction: row;
}